[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
snapshottest = "*"
autopep8 = "*"
build = "*"

[packages]
jsonref = "*"
pydash = "*"
rich = "*"
ts-ids-es-json-generator = "*"

[requires]
python_version = "3.7"
