[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
snapshottest = "*"
build = "*"
black = ">=21.12b0"

[packages]
jsonref = "*"
pydash = "*"
rich = "*"
jsonschema = "<4, >=3.2.0"
ts-ids-es-json-generator = "*"
typing-extensions = "==3.10.0.2"

[pipenv]
allow_prereleases = true
